################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Asistencia/.vs
/Asistencia/Asistencia/bin/Debug/netcoreapp2.0
/Asistencia/Asistencia/obj
